<h1>Global Constants are stored in "/config/initializers/constants.rb"</h1>

You are from <%= select_tag "continents", options_for_select(Constant.continents) %>.
<br>
<br>
Your are <%= select "gender", "person", Constant.gender %>.

